<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wz.pumer.dao.IUserDao">

    <resultMap id="UserBean" type="com.wz.pumer.beans.PostBean">
        <id property="id" column="id"></id>
        <result property="name" column="name"></result>
        <result property="nickname" column="name"></result>
        <result property="followNum" column="follow_num"></result>
        <result property="vipLevel" column="vip_level_id"></result>
        <result property="crateTime" column="crate_time"></result>
        <result property="liveType" column="live_type_id"></result>
        <result property="headImageUrl" column="head_image_url"></result>


    </resultMap>

    <select id="queryList" resultType="UserBean" >
        select *  from  `pumer_user`
    </select>

    <select id="loginByNameAndPwd" resultType="UserBean">
        SELECT * FROM `pumer_user` WHERE `name`  = #{username} and `password` = #{password}

    </select>
    <update id="updateUserInfo" parameterType="com.wz.pumer.beans.UserBean">
        UPDATE `pumer_user`
         <if test="headimg!=null">
             SET `headimg` =#{headimg}
         </if>
         WHERE `id` =#{id}

    </update>
</mapper>