<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wz.pumer.dao.IUserDao">

    <resultMap id="UserBean" type="com.wz.pumer.beans.UserBean">
        <id property="id" column="id"></id>
        <result property="name" column="name"></result>
        <result property="nickname" column="nickname"></result>
        <result property="email" column="email"></result>
        <result property="followNum" column="follow_num"></result>
        <result property="vipLevel" column="vip_level_id"></result>
        <result property="crateTime" column="crate_time"></result>
        <result property="liveType" column="live_type_id"></result>
        <result property="headImageUrl" column="head_image_url"></result>


    </resultMap>

    <select id="queryList" resultType="UserBean" >
        select *  from  `pumer_user`
    </select>

    <select id="loginByNameAndPwd" resultType="UserBean">
        SELECT * FROM `pumer_user` WHERE `name`  = #{username} and `password` = #{password}

    </select>

    <insert id="regUser" parameterType="com.wz.pumer.beans.UserBean" >

        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>

        insert into `pumer_user` (`name`,`password`,`nickname`,`email`,`follow_num`,`vip_level_id`,`crate_time`,`live_type_id`,`head_image_url`)
        values(#{name},#{password},#{nickname},#{email},${followNum},${vipLevel},${crateTime},${liveType},#{headImageUrl});




    </insert>

    <update id="updateUserInfo" parameterType="com.wz.pumer.beans.UserBean">
        UPDATE `pumer_user`
         <if test="headimg!=null">
             SET `headimg` =#{headimg}
         </if>
         WHERE `id` =#{id}

    </update>
</mapper>